<?xml version="1.0"?>
<launch>
    <node pkg="theta_simple_stitching" type="decompressed.py" name="theta_simple_stitching_decompressed" output="screen"/>
    <node pkg="theta_simple_stitching" type="simple_stitching.py" name="theta_simple_stitching" output="screen">
        <param name="sub_image_topic_name" value="/theta/image_raw"/>
        <param name="reverse" value="False"/>
    </node>
    <node pkg="theta_simple_stitching" type="compressed.py" name="theta_simple_stitching_compressed" output="screen"/>
</launch>